body {
   font-family: 'Open Sans', sans-serif;
   margin: 0;
   padding: 0;
   background-color: #f3f3f3;
   text-align: center;
}

#header {
   background-color: #4caf50;
   padding: 20px;
   color: white;
   text-align: center;
}

h1 {
   margin: 0;
}

#apps-section {
   margin-top: 20px;
}

.app-icon {
   width: 100px;
   height: 100px;
   cursor: pointer;
   transition: transform 0.2s;
}

.app-icon:hover {
   transform: scale(1.1);
}
